ENCRYPTION_SECRET=e45ecd03425f98373b8144e9560e4e7b1f3a3caf635dd53eb74433594091db85
PORT=3001
DATABASE_URL="postgresql://user:password@host:5432/postgres"
NEXT_PUBLIC_WS_URL="http://localhost:3001"
TAILSCALE_AUTH_KEY=tskey-auth-xxx